  <!-- アクティブユーザー数 -->
  <div class="mb-8">
    <h2 class="text-lg font-bold mb-4">アクティブユーザー数</h2>
    <canvas id="activeUsersChart"></canvas>
    <script>
      const activeUserCounts = <%= @daily_active_users.to_json.html_safe %>;
      const dailyData = Object.values(activeUserCounts);
      const dates = Object.keys(activeUserCounts);
      const ctx = document.getElementById('activeUsersChart').getContext('2d');
      const activeUsersChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: dates,
          datasets: [{
            label: 'アクティブユーザー数',
            data: dailyData,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
  </div>

  <!-- 新規登録数 -->
  <div class="mb-8">
    <h2 class="text-lg font-bold mb-4">新規登録数</h2>
      <canvas id="newUsersChart"></canvas>
    <script>
      const newUsersData = <%= @daily_new_active_users.to_json.html_safe %>;
      const newdayData = Object.values(newUsersData);
      const newdates = Object.keys(newUsersData);
      const ctx2 = document.getElementById('newUsersChart').getContext('2d');
      const newUsersChart = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: newdates,
          datasets: [{
            label: '新規登録者数',
            data: newdayData,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      // Canvas のサイズを親要素に合わせる
      const newUsersChartCanvas = document.getElementById('newUsersChart');
      newUsersChartCanvas.width = newUsersChartCanvas.parentElement.clientWidth;
      newUsersChartCanvas.height = newUsersChartCanvas.parentElement.clientHeight;
    </script>
  </div>
</div>

<!-- ページビュー数 -->
<div class="mb-8">
  <h2 class="text-lg font-bold mb-4">ページビュー数</h2>
  <canvas id="pageViewsChart" width="800" height="400"></canvas>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  

    // ページビュー数を取得
    const pageViewsData = <%= @page_views_data.to_json.html_safe %>;

    const pageIds = Object.keys(pageViewsData);
    const pageViews = Object.values(pageViewsData);

    // グラフの描画
    const ctx = document.getElementById('pageViewsChart').getContext('2d');
    window.pageViewsChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: pageIds,
        datasets: [{
          label: 'ページビュー数',
          data: pageViews,
          backgroundColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>

</div>